.menu{
  width: 350px;
  height: 100vh;
  background-color: whitesmoke;
  position: fixed;
  float: left;
}

.menu .links {
  padding: 0 20px;
}

.links h3 {
  padding-bottom: 5px;
}

.links ul{
  list-style-type: none;
}

.links li{
  padding: 5px 0;
}
