*{padding: 0; margin: 0;}

body{
  font-family: "Myriad Pro", sans-serif;
  min-width: 1000px;
}

.red{color: crimson;}

#title{
  //font-family: Cambria, serif;
  padding: 20px;
  font-size: 2.3em;
}
