*{padding: 0; margin: 0;}

body{
  font-family: "Myriad Pro", sans-serif;
  width: 1000px;
  margin: 0 auto;
}

.red{color: crimson;}

#title{
  //font-family: Cambria, serif;
  padding: 20px;
  font-size: 2.3em;
}

h3 {
  padding: 10px 20px;
}

h2:first-of-type{
  margin-top: 20px;
}

ul + h3 {
    margin-top: 20px;
}

ul{
  padding: 0 20px;
  list-style-type: none;
}

.name{
  width: 320px;
  display: inline-block;
}

.ext{
  font-family: monospace;
  color: #333;
  width: 40px;
  display: inline-block;
}

.modified{
  margin-left: 30px;
}

.md-link{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

li {
    padding: 5px 10px;
}

li:nth-child(odd) {
    background-color: whitesmoke;
}

a:visited {
  color: blue;
}

form{
  float: left;
  margin-left: 20px;
}

#pass{
  padding: 5px;
  margin-right: 10px;
  //border: 1px solid gray;
}

#pass:focus{
  //border: 2px solid dodgerblue;
  outline: 0;
}

.error{
  border: 2px solid crimson;
}

.hidden{display: none;}
