<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Display Name</key>
	<string>Staff Info Request</string>
	<key>Folder Name</key>
	<string>Staff Info Request.mailstationery</string>
	<key>HTML File</key>
	<string>content.html</string>
	<key>Is User Created</key>
	<string>YES</string>
</dict>
</plist>
